# Python
backend/.venv/
backend/__pycache__/
backend/**/__pycache__/
*.pyc

# env secrets
.env
backend/.env
frontend/.env

# Node / frontend
frontend/node_modules/
frontend/dist/

# OS / editor
.DS_Store
.vscode/*
!.vscode/settings.json
.idea/

# logs
*.log
